/.vscode
/case_example.sql
/creating_tables.sql
/csv_files
/CTEs.sql
/CTEs_Subquerries.sql
/delete_practice.sql
/GROUP BY.sql
/Notes.txt
/Order of Execution.txt
/Order to write Query.txt
/Problems_from_luke_berouse.sql
/schema explanation.txt
/sql_course.session.sql
/Union.sql